.product-list {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // max-width:1490px;
    display: grid;
}

@media only screen and (max-width: 922px) {

    .product-list{
        grid-template-columns: repeat(3,1fr) !important;
    }
}

@media (max-width:649px){
    .product-list {
            grid-template-columns: repeat(2, 1fr) !important;
        }
}