.cart-total-money {
    width: 30%;
    margin-left: auto;
    margin-top: 20px;
}

.cart-subtotal {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    span:last-child {
        font-weight: bold;
        display: block;
        font-size: 14px;
        color: red;
    }

    span:first-child {
        font-size: 15px;
    }
}

.cart-pay {
    button {
        width: 100%;
        background: #000;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border: initial;
    }
}

@media(max-width: 1200px) {
    .cart-total-money {
        width: 100%;
    }
}