.nav-tab{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items: center;
    width: 990px;
    margin: 0 auto;
}

.nav_tab{
    &-list{
        display:flex;
        text-align:center;
        justify-content: center;
    }
    &-item{
        text-transform: uppercase;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: #323c42;
        padding: 0 20px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        user-select: none;
    }
}

.active{
    background-color: var(--primary) !important;
}

@media (max-width:768px) {
    .nav_tab ul{
        flex-direction: column;
    }
}